<h1>Operator Page</h1>
<a class="btn btn-default" href="/operator/trains">view trains</a>
<a class="btn btn-default" href="/operator/cities">view cities</a>
<a class="btn btn-default" href="/operator/schedule">add schedule</a>
<a class="btn btn-default" href="/">back</a>
