<h1>Rider Page</h1>
<a class="btn btn-default" href="/rider/trains">view trains</a>
<a class="btn btn-default" href="/rider/cities">view cities</a>
<a class="btn btn-default" href="/rider/ticket">purchase ticket</a>
<a class="btn btn-default" href="/rider/time_table">see time table</a>
<a class="btn btn-default" href="/">back</a>
